/* PRESETS */

.col-1 {width: 8.33vw}
.col-2 {width: 16.66vw}
.col-3 {width: 25vw}
.col-4 {width: 33.33vw}
.col-5 {width: 41.66vw}
.col-6 {width: 50vw}
.col-7 {width: 58.33vw}
.col-8 {width: 66.66vw}
.col-9 {width: 75vw}
.col-10 {width: 83.33vw}
.col-11 {width: 91.66vw}
.col-12 {width: 100vw}

h1 {
    font-family: 'Do Hyeon', sans-serif;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    color: black;
    opacity: 30%;
}

/* body {
    overflow: hidden
} */

/* ANIMATIONS */

@keyframes hover-float {
    from {
        transform: translate(0px, 0px)
    }

    to {
        transform: translate(10px, 10px)
    }
}

@keyframes hover-float-2 {
    from {
        transform: translate(0px, 0px)
    }

    to {
        transform: translate(5px, 5px)
    }
}

@keyframes float-1 {
    0% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(10px)
    }
}

@keyframes float-2 {
    0% {
        transform: translateX(0)
    }

    60% {
        transform: translateX(10px)
    }
}

@keyframes float-3 {
    0% {
        transform: translateX(0)
    }

    70% {
        transform: translateX(10px)
    }
}

@keyframes float-4 {
    0% {
        transform: translateX(0)
    }

    80% {
        transform: translateX(10px)
    }
}

@keyframes button {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(0.1px)
    }
}

/* CLASSES */

.float-1 {
    animation: float-1 ease 3s;
    animation-iteration-count: infinite;
}

.float-1:hover {
    animation: hover-float ease 0.1s;
    animation-fill-mode: forwards;
}

.float-2 {
    animation: float-2 ease 3.5s;
    animation-iteration-count: infinite;
}

.float-2:hover {
    animation: hover-float ease 0.1s;
    animation-fill-mode: forwards;
}

.float-3 {
    animation: float-3 ease 4s;
    animation-iteration-count: infinite;
}

.float-3:hover {
    animation: hover-float ease 0.1s;
    animation-fill-mode: forwards;
}

.float-4 {
    animation: float-4 ease 2.5s;
    animation-iteration-count: infinite;
}

.float-4:hover {
    animation: hover-float ease 0.1s;
    animation-fill-mode: forwards;
}

.button {
    animation: button 120s ease;
    animation-iteration-count: infinite;
}

.button:hover {
    animation: hover-float-2 ease 0.1s;
    animation-fill-mode: forwards;
}


.header-main-div {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 4vw;
    top: 2vh
}

.header-name-div {
    position: relative;
    width: 16.66vw;
    top: -7px;
    margin-left: 16px;
}

.header-name {
    font-size: 35px;
    color: black;
    letter-spacing: 2px;
}

.header-name-logo-div {
    width: 25vw;
    display: flex;
    flex-direction: row;
}

.header-pricing-meeting-div {
    width: 33.33vw;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 15px;
    left: 38vw;
}

.header-meeting-button {
    width: 16.66vw;
    height: 43px;
    text-align: center;
    flex-shrink: 0;
}

.meeting-link {
    font-size: 25px;
    color: #F59B23;
    line-height: normal;
    position: relative;
    top: -10px;
}

.header-pricing-button {
    width: 16.66vw;
    margin-left: 16px;
    height: 43px;
    width: 10vw;
    text-align: center;
    flex-shrink: 0;
}

.shadow {
    border-radius: 11px;
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25)
}

.shadow-2 {
    border-radius: 11px;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25)
}
.pricing-link {
    font-size: 25px;
    color: #F59B23;
    line-height: normal;
    position: relative;
    top: -10px;
}

.top-2-boxes {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 4vh
}

.grey-box-1 {
    width: 38vw;
    height: 400px;
    flex-shrink: 0;
    position: relative; 
    left: 10vw;
}

.white-box-1 {
    position: absolute;
    top: 28px;
    left: 2.5vw;
    width: 33vw;
    height: 344px;
    flex-shrink: 0;
}

.box-text-1 {
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    position: relative;
    top: -2vh;
}

.grey-box-2 {
    width: 38vw;
    height: 142px;
    flex-shrink: 0;
    position: relative;
    left: 14vw;
}

.white-box-2 {
    margin: auto;
    position: absolute;
    top: 21px;
    left: 2.5vw;
    width: 33vw;
    height: 100px;
    flex-shrink: 0;
}

.box-text-2 {
    font-size: 25px;
    position: relative;
    left: 5vw;
    top: 1vh
}

.right-2-boxes {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 52vw;
    top: -24vh;
}

.grey-box-3 {
    width: 21vw;
    height: 220px;
    flex-shrink: 0;
}

.white-box-3 {
    position: absolute;
    top: 28px;
    left: 2.5vw;
    width: 16vw;
    height: 162px;
    flex-shrink: 0;
}

.box-text-3 {
    text-align: center;
    position: relative;
    top: 1.5vh;
}

.grey-box-4 {
    margin-left: 30px;
    width: 15vw;
    height: 28vh;
    flex-shrink: 0;
}

.white-box-4 {
    position: relative;
    top: 1vh;
    left: 2.5vw;
    width: 10vw;
    height: 162px;
    flex-shrink: 0;
}

.box-text-4 {
    text-align: center;
    position: relative;
    top: 4vh;
}

.bottom-div {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -18vh;
    left: 10vw;
}

.grey-box-5 {
    width: 80vw;
    height: 100px;
    flex-shrink: 0;
}

.white-box-5 {
    position: absolute;
    left: 3vw;
    top: 14.5px;
    width: 74vw;
    height: 71px;
    flex-shrink: 0;
}

.box-text-5 {
    text-align: center
}

.three-box-div {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 4vh;
    justify-content: space-between;
    width: 90vw;
    left: 5vw;
}

.base-div {
    width: 28vw;
    height: 70vh;
    flex-shrink: 0
}

.base-white-box {
    position: absolute;
    top: 5vh;
    left: 2.5vw;
    width: 23vw;
    height: 60vh;
    flex-shrink: 0
}

.base-text-1 {
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    position: relative;
    top: -2vh;
}

.base-text-2 {
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    position: relative;
    top: -2vh
}

.base-text-3 {
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    position: relative;
    color: #F59B23;
    top: -2vh;
    opacity: 100%;
}

.advanced-grey-box {
    width: 28vw;
    height: 70vh;
    flex-shrink: 0;
}

.advanced-white-box {
    position: absolute;
    top: 5vh;
    left: 2.5vw;
    width: 23vw;
    height: 60vh;
    flex-shrink: 0;

}

.advanced-text-1 {
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    position: relative;
    top: -2vh
}

.advanced-text-2 {
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    position: relative;
    top: -2vh
}

.advanced-text-3 {
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    position: relative;
    top: -2vh;
    color: #F59B23;
    opacity: 100%;
}

.advanced-text-4 {
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    position: relative;
    top: -10vh;
    opacity: 100%
}

.inclusive-grey-box {
    width: 28vw;
    height: 70vh;
    flex-shrink: 0;
}

.inclusive-white-box {
    position: absolute;
    top: 5vh;
    left: 2.5vw;
    width: 23vw;
    height: 60vh;
    flex-shrink: 0;
}

.inclusive-text-1 {
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    position: relative;
    top: -2vh;
}

.inclusive-text-2 {
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    position: relative;
    top: -2vh;
}

.inclusive-text-3 {
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    position: relative;
    top: -2vh;
    color: #F59B23;
    opacity: 100%;
}

.pricing-bottom-text {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 6vh;
    opacity: 60%
}

.image {
    width: 8.33vw;
}

/* MEDIA QUERIES */
@media screen and (min-width: 321px) and (max-width: 430px) {

    .header-main-div {
        flex-direction: column;
        left: 0; 
        padding-bottom: 3vh
    }

    .header-name-logo-div {
        width: 70vw;
        position: relative;
        left: 14vw
    }

    .header-name-div {
        width: 35vw;
        top: 0.05vh
    }
    
    .image {
        width: 35vw;
    }

    .grey-box-1 {
        width: 43vw;
        height: 40vh
    }
    
    .white-box-1 {
        width: 38vw;
        height: 38vh;
        top: 1vh;
    }

    .box-text-1 {
        font-size: 2.5vh;
        line-height: 255.2%;
    }

    .top-2-boxes {
        left: -6vw;
        top: 6vh;
    }

    .grey-box-2 {
        width: 43vw;
        height: 10vh
    }

    .white-box-2 {
        width: 38vw;
        height: 8vh;
        top: 1vh
    }

    .box-text-2 {
        font-size: 15px;
        text-align: center;
        left: 0;
        margin: 10px;
        top: 0.5vh
    }

    .right-2-boxes {
        flex-direction: column;
        left: 50vw;
    }

    .grey-box-3 {
        width: 43vw;
        height: 16vh;
        position: relative;
        left: 1.5vw;
    }

    .white-box-3 {
        width: 38vw;
        left: 2.5vw;
        height: 14vh;
        top: 1vh
    }

    .box-text-3 {
        font-size: 15px;
        margin: 15px;
        top: -1vh;
        line-height: 170%
    }

    .grey-box-4 {
        height: 10vh;
        width: 43vw;
        position: relative;
        left: -7vw;
        top: 2vh
    }

    .white-box-4 {
        position: relative;
        height: 8vh;
        top: -0.5vh;
        width: 38vw;
        left: 2.5vw;
    }

    .box-text-4 {
        font-size: 15px;
        top: 0.25vh
    }

    .grey-box-5 {
        height: 20vh
    }

    .white-box-5 {
        height: 18vh;
        top: 1vh
    }

    .box-text-5 {
        font-size: 25px;
        position: relative;
        top: 0.6vh
    }

    .right-2-boxes {
        top: -22vh
    }

    .bottom-div {
        top: -18vh;
        left: 9vw;
    }

    .header-pricing-meeting-div {
        left: 5vw;
        top: 20px
    }

    .header-meeting-button {
        width: 40vw;
    }

    .header-pricing-button {
        width: 40vw;
        margin-left: 28px;
    }

    .meeting-link {
        font-size: 20px;
        top: -0.25vh
    }

    .pricing-link {
        font-size: 20px;
        top: -0.25vh
    }

    .float-1, .float-2, .float-3, .float-4 {
        animation: none;
    }

    .header-meeting-button:active, .header-pricing-button:active {
        animation: hover-float-2 ease 0.1s;
        animation-fill-mode: forwards;
    }

    /* PRICING PAGE */

    .three-box-div {
        flex-direction: column
    }

    .base-div {
        width: 85vw;
        height: 30vh;
    }

    .base-white-box {
        width: 80vw;
        height: 28vh;
        top: 1vh
    }

    .advanced-grey-box {
        width: 85vw;
        height: 35vh;
        margin-top: 2vh;
    }

    .advanced-white-box {
        width: 80vw;
        height: 33vh;
        position: relative;
        top: -3vh;
    }

    .inclusive-grey-box {
        width: 85vw;
        height: 30vh;
        margin-top: 2vh
    }

    .inclusive-white-box {
        width: 80vw;
        height: 28vh;
        top: -3vh;
        position: relative;
    }

    .base-text-1 {
        position: relative;
        top: -3vh
    }

    .base-text-2 {
        top: -6vh;
        font-size: 2vh;
        margin: 2vh;
        line-height: 2.5vh
    }

    .base-text-3 {
        top: -10vh
    }

    .advanced-text-1 {
        top: 1vh
    }

    .advanced-text-2 {
        font-size: 2vh;
        line-height: 2.5vh;
        top: -3vh
    }

    .advanced-text-3 {
        top: -7vh
    }

    .advanced-text-4 {
        top: -14vh
    }

    .inclusive-text-1 {
        top: 1vh
    }

    .inclusive-text-2 {
        font-size: 2vh;
        line-height: 2.5vh;
    }

    .inclusive-text-3 {
        top: -7vh
    }

    .pricing-bottom-text {
        padding-bottom: 6vh
    }
}

@media screen and (width: 320px) and (height: 568px) {

    .header-main-div {
        flex-direction: column;
        left: 0;
        padding-bottom: 20px
    }

    .header-name-logo-div {
        width: 70vw;
        position: relative;
        left: 14vw
    }

    .header-name-div {
        width: 35vw;
        top: -1.5vh
    }
    
    .image {
        width: 35vw;
    }

    .grey-box-1 {
        width: 43vw;
        height: 40vh
    }
    
    .white-box-1 {
        width: 38vw;
        height: 38vh;
        top: 1vh;
    }

    .box-text-1 {
        font-size: 15px;
        line-height: 200%;
        top: 1vh
    }

    .top-2-boxes {
        left: -6vw;
        top: 2vh;
    }

    .grey-box-2 {
        width: 43vw;
        height: 10vh
    }

    .white-box-2 {
        width: 38vw;
        height: 8vh;
        top: 1vh
    }

    .box-text-2 {
        font-size: 2vh;
        text-align: center;
        left: 0;
        margin: 15px;
        top: -1vh
    }

    .right-2-boxes {
        flex-direction: column;
        left: 50vw;
        top: -20vh
    }

    .grey-box-3 {
        width: 43vw;
        height: 16vh;
        position: relative;
        left: 1.5vw;
        top: -4vh
    }

    .white-box-3 {
        width: 38vw;
        left: 2.5vw;
        height: 14vh;
        top: 1vh
    }

    .box-text-3 {
        font-size: 2vh;
        margin: 15px;
        top: 0;
        line-height: 120%
    }

    .grey-box-4 {
        height: 10vh;
        width: 43vw;
        position: relative;
        left: -7vw;
        top: -2vh
    }

    .white-box-4 {
        position: relative;
        height: 8vh;
        top: -0.5vh;
        width: 38vw;
        left: 2.5vw;
    }

    .box-text-4 {
        font-size: 2vh;
        top: 0.25vh;
    }

    .grey-box-5 {
        height: 20vh;
    }

    .white-box-5 {
        height: 18vh;
        top: 1vh
    }

    .box-text-5 {
        font-size: 20px;
        position: relative;
        top: -1vh
    }

    .right-2-boxes {
        top: -22vh
    }

    .bottom-div {
        top: -20vh;
        left: 9vw;
    }

    .header-pricing-meeting-div {
        left: 0;
        top: 2vw
    }

    .header-meeting-button {
        width: 40vw;
        position: relative;
        left: 5vw
    }

    .header-pricing-button {
        width: 40vw;
        margin-left: 10vw;
    }

    .meeting-link {
        font-size: 2.5vh;
        top: 1.5vh;
        margin: 2vw
    }

    .pricing-link {
        font-size: 20px;
        top: -0.5vh
    }

    .float-1, .float-2, .float-3, .float-4 {
        animation: none;
    }

    .header-meeting-button:active, .header-pricing-button:active {
        animation: hover-float-2 ease 0.1s;
        animation-fill-mode: forwards;
    }

    /* PRICING */

    .three-box-div {
        flex-direction: column
    }

    .base-div {
        width: 85vw;
        height: 30vh;
    }

    .base-white-box {
        width: 80vw;
        height: 28vh;
        top: 1vh
    }

    .advanced-grey-box {
        width: 85vw;
        height: 35vh;
        margin-top: 2vh;
    }

    .advanced-white-box {
        width: 80vw;
        height: 33vh;
        position: relative;
        top: -5vh;
    }

    .inclusive-grey-box {
        width: 85vw;
        height: 36vh;
        margin-top: 2vh
    }

    .inclusive-white-box {
        width: 80vw;
        height: 34vh;
        top: -5vh;
        position: relative;
    }

    .base-text-1 {
        position: relative;
        top: -6vh
    }

    .base-text-2 {
        top: -12vh;
        font-size: 2vh;
        margin: 2vh;
        line-height: 2.5vh
    }

    .base-text-3 {
        top: -18vh;
        font-size: 8vh;
        left: -4vw
    }

    .advanced-text-1 {
        top: 0
    }

    .advanced-text-2 {
        font-size: 2vh;
        line-height: 2.5vh;
        top: -7vh
    }

    .advanced-text-3 {
        top: -14vh;
        left: -4vw
    }

    .advanced-text-4 {
        top: -14vh
    }

    .inclusive-text-1 {
        top: 1vh
    }

    .inclusive-text-2 {
        font-size: 2vh;
        line-height: 2.5vh;
        top: -6vh
    }

    .inclusive-text-3 {
        top: -13vh;
        left: -4vw
    }

    .pricing-bottom-text {
        padding-bottom: 6vh
    }

}

@media screen and (width: 414px) and (height: 736px) {
    .box-text-2 {
        top: -0.25vh
    }

    .box-text-3 {
        top: -2vh
    }

    .white-box-4 {
        top: -0.75vh
    }

    .box-text-5 {
        top: -1vh
    }

    .base-text-1 {
        top: -4vh
    }

    .base-text-2 {
        top: -8vh
    }

    .base-text-3 {
        top: -13vh;
        left: -2vw
    }

    .advanced-white-box {
        top: -3.5vh
    }

    .advanced-text-1 {
        top: 0
    }

    .advanced-text-2 {
        top: -4vh
    }

    .advanced-text-3 {
        top: -9vh;
        left: -2vw
    }

    .advanced-text-4 {
        top: -18vh
    }

    .inclusive-grey-box {
        height: 36vh
    }

    .inclusive-white-box {
        height: 34vh;
        position: relative;
        top: -3.5vh
    }

    .header-pricing-button {
        margin-left: 3vw
    }

    .header-pricing-meeting-div {
        left: 6vw
    }
}

@media screen and (width: 375px) and (height: 667px) {
    .base-text-1 {
        top: -5vh
    }

    .base-text-2 {
        top: -10vh
    }

    .base-text-3 {
        top: -16vh;
        left: -2vw
    }

    .advanced-white-box {
        top: -3.5vh
    }

    .advanced-text-1 {
        top: 0
    }

    .advanced-text-2 {
        top: -5vh
    }

    .advanced-text-3 {
        top: -11vh;
        left: -2vw
    }

    .advanced-text-4 {
        top: -22vh
    }

    .inclusive-grey-box {
        height: 36vh
    }

    .inclusive-white-box {
        height: 34vh;
        position: relative;
        top: -4vh
    }
    
    .advanced-white-box {
        top: -4vh
    }

    .inclusive-text-2 {
        top: -4vh
    }

    .inclusive-text-3 {
        top: -9vh
    }

    .box-text-2 {
        top: -0.25vh
    }

    .box-text-3 {
        top: -2vh;
        line-height: 150%;
    }
    
    .box-text-4 {
        line-height: 110%
    }

    .white-box-4 {
        top: -0.75vh
    }

    .box-text-5 {
        top: -1vh
    }
}

@media screen and (width: 360px) and (height: 640px) {
    .base-text-1 {
        top: -5vh
    }

    .base-text-2 {
        top: -11vh
    }

    .base-text-3 {
        top: -17vh;
        left: -2vw
    }

    .advanced-white-box {
        top: -3.5vh
    }

    .advanced-text-1 {
        top: 0
    }

    .advanced-text-2 {
        top: -6vh
    }

    .advanced-text-3 {
        top: -13vh;
        left: -2vw
    }

    .advanced-text-4 {
        top: -24vh
    }

    .inclusive-grey-box {
        height: 36vh
    }

    .inclusive-white-box {
        height: 34vh;
        position: relative;
        top: -4vh
    }
    
    .advanced-white-box {
        top: -4vh
    }

    .inclusive-text-2 {
        top: -4vh
    }

    .inclusive-text-3 {
        top: -9vh
    }

    .box-text-2 {
        top: -0.25vh
    }

    .box-text-3 {
        top: -2vh;
        line-height: 150%;
    }
    
    .box-text-4 {
        line-height: 110%
    }
    
    .white-box-4 {
        top: -0.75vh
    }

    .box-text-5 {
        top: -1vh;
        margin: 3vw
    }

    .white-box-4 {
        top: -1vh
    }
}

@media screen and (width: 360px) and (height: 800px) {
    
    .advanced-text-4 {
        top: -15vh
    }

    .inclusive-grey-box {
        height: 36vh
    }

    .inclusive-white-box {
        height: 34vh
    }

    .inclusive-text-3 {
        top: -5vh
    }

    .box-text-5 {
        margin: 3vw;
        top: 1vh
    }
}